.logoelib {
    height: 30px;
}

.sidebar,
.main-content {
    min-height: 100vh;
    height: 100%;
    padding: 1rem;
}

.nav-link {
    display: flex;
    gap: 10px;
}

.card-icon {
    height: 40px;
}

.profile-picture {
    height: 40px;
    width: 40px;
}

@media only screen and (max-width: 600px) {
    .sidebar {
        height: 100%;
    }
    .gambar-qr {
        display: flex;
        justify-content: center;
    }
}

.card-img-top {
    overflow: hidden;
    height: 180px;
    width: 200px;
}

.card-img-top img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card-img-detail {
    overflow: hidden;
    height: 400px;
    width: 100%;
}

.card-img-detail img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}