.logoelib {
    height: 30px;
}

.sidebar,
.main-content {
    height: 100vh;
    padding: 1rem;
}

.nav-link {
    display: flex;
    gap: 10px;
}

.card-icon {
    height: 40px;
}

.profile-picture {
    height: 40px;
    width: 40px;
}

@media only screen and (max-width: 600px) {
    .sidebar {
        height: 100%;
    }
    .gambar-qr {
        display: flex;
        justify-content: center;
    }
}